<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Autonoleggio</display-name>

<servlet>

<servlet-name>HomePage</servlet-name>
<servlet-class>web.HomePageServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>HomePage</servlet-name>
<url-pattern>/Home</url-pattern>
<url-pattern>/</url-pattern>
</servlet-mapping>


<servlet>

<servlet-name>Login</servlet-name>
<servlet-class>web.LoginServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>Login</servlet-name>
<url-pattern>/login</url-pattern>

</servlet-mapping>



<servlet>

<servlet-name>Logout</servlet-name>
<servlet-class>web.LogoutServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>Logout</servlet-name>
<url-pattern>/logout</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>Registrati</servlet-name>
<servlet-class>web.RegistratiServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>Registrati</servlet-name>
<url-pattern>/registrati</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>ImpostazioniAdmin</servlet-name>
<servlet-class>web.ImpostazioniAdminServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>ImpostazioniAdmin</servlet-name>
<url-pattern>/impostazioni</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>ConfermaRegistrazioni</servlet-name>
<servlet-class>web.ConfermaRegistrazioneServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>ConfermaRegistrazioni</servlet-name>
<url-pattern>/confermaregistrazioni</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>ListaNoleggi</servlet-name>
<servlet-class>web.ListaNoleggioServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>ListaNoleggi</servlet-name>
<url-pattern>/listanoleggio</url-pattern>

</servlet-mapping>


<servlet>
	<servlet-name>ListaAuto</servlet-name>
	<servlet-class>web.ListaAutoServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ListaAuto</servlet-name>
	<url-pattern>/listaauto</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ModificaAuto</servlet-name>
<servlet-class>web.ModificaAutoServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ModificaAuto</servlet-name>
<url-pattern>/modificaauto</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Noleggio</servlet-name>
<servlet-class>web.NoleggioServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Noleggio</servlet-name>
<url-pattern>/noleggio</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>AggiungiAuto</servlet-name>
<servlet-class>web.AggiungiAutoServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AggiungiAuto</servlet-name>
<url-pattern>/aggiungiauto</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>GestisciCategoria</servlet-name>
<servlet-class>web.GestisciCategoriaServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>GestisciCategoria</servlet-name>
<url-pattern>/gestiscicategoria</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>GestisciAutomobile</servlet-name>
<servlet-class>web.GestisciAutomobileServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>GestisciAutomobile</servlet-name>
<url-pattern>/gestisciautomobile</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>AggiungiStaff</servlet-name>
<servlet-class>web.AggiungiStaffServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AggiungiStaff</servlet-name>
<url-pattern>/aggiungistaff</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>InfoUtente</servlet-name>
	<servlet-class>web.InfoUtenteServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>InfoUtente</servlet-name>
	<url-pattern>/infoutente</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>PannelloStaff</servlet-name>
<servlet-class>web.PannelloStaffServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>PannelloStaff</servlet-name>
<url-pattern>/pannellostaff</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>CartaDiCredito</servlet-name>
	<servlet-class>web.CartaDiCreditoServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CartaDiCredito</servlet-name>
	<url-pattern>/cartadicredito</url-pattern>
</servlet-mapping>
<!--Credenziali Admin-->
<context-param>

<param-name>super_email</param-name>
<param-value>autonoleggioProgettoElis@gmail.com</param-value>

</context-param>


<context-param>

<param-name>contatto_telefono</param-name>
<param-value>061234456</param-value>

</context-param>


<context-param>

<param-name>super_password</param-name>
<param-value>Autonoleggio_2021</param-value>

</context-param>

</web-app>